extends layout
block content
     section#newsletter
     .container
        h1 TOP SELLING TITLES
     section#boxes
      .container
        .box
          img(src='the president.jpg')
          h3 The President is Missing
          h5
            | by James Patterson, President Bill Clinton
        .box
          img(src='the perfect couple.jpg')
          h3 The Perfect Couple
          h5 by Elin Hilderbrand
        .box
          img(src='letters to my daughters.jpg')
          h3 Letters to My Daughters
          h5 by Emma Hannigan
     